<!DOCTYPE html>
<html lang="en">
<head>

  {% load static %}

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link rel="icon" href="{% static 'img/logo principal.png' %}">
  <title>Mundo Gamer {{ user.username }} - Noticias, Reviews y todo lo que buscas de tus juegos favoritos!</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  
  
</head>

<body class="grey darken-4">
  <nav class="teal topbar pushpin-demo-nav" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{% url 'index' %}" class="brand-logo"><img src="{% static 'img/logo nuevo.png' %}" alt="Logo" height="50" width="150"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'ps5' %}">PS5</a></li>
        <li><a href="{% url 'xbox' %}">XBOX</a></li>
        <li><a href="{% url 'switch' %}">SWITCH</a></li>
        <li><a href="{% url 'pc' %}">PC</a></li>
        <li><a href="{% url 'retro' %}">RETRO</a></li>
        <li><a href="{% url 'registrarse' %}">REGISTRARSE</a></li>
        <li><a href="{% url 'login' %}">ENTRAR</a></li>
      </ul>
      
      <ul id="nav-mobile" class="sidenav">
        <li><a href="{% url 'ps5' %}">PS5</a></li>
        <li><a href="{% url 'xbox' %}">XBOX</a></li>
        <li><a href="{% url 'switch' %}">SWITCH</a></li>
        <li><a href="{% url 'pc' %}">PC</a></li>
        <li><a href="{% url 'retro' %}">RETRO</a></li>
        <li><a href="{% url 'registrarse' %}">REGISTRARSE</a></li>
        <li><a href="{% url 'login' %}">ENTRAR</a></li>       
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  
  <!-- Barra Buscar  -->
  <div class="topbar row card3 col s4 m4 l4 center">
      <form action="{% url 'buscar' %}" method="GET">
          <input class="btn-small col s6 m2 l1 right center" type="submit" value="buscar">
          <input placeholder="Buscar" id="buscar" type="text" class="validate white-text col s6 m2 l2 right center" name="txtBusqueda">
      </form>
    </div>

  


  <div class="carousel blue-grey darken-3">
    <h5 class="center white-text">Los Mejores Juegos</h5>
    <a class="carousel-item" href="#one!"><img src="{% static 'img/carrusel/carrusel1.JPG' %}"></a>
    <a class="carousel-item" href="#two!"><img src="{% static 'img/carrusel/carrusel2.JPG' %}"></a>
    <a class="carousel-item" href="#three!"><img src="{% static 'img/carrusel/carrusel3.JPG' %}"></a>
    <a class="carousel-item" href="#four!"><img src="{% static 'img/carrusel/carrusel4.JPG' %}"></a>
    <a class="carousel-item" href="#five!"><img src="{% static 'img/carrusel/carrusel5.JPG' %}"></a>
    <a class="carousel-item" href="#six!"><img src="{% static 'img/carrusel/carrusel6.JPG' %}"></a>
    <a class="carousel-item" href="#seven!"><img src="{% static 'img/carrusel/carrusel7.JPG' %}"></a>
    <a class="carousel-item" href="#eight!"><img src="{% static 'img/carrusel/carrusel8.JPG' %}"></a>
    <a class="carousel-item" href="#nine!"><img src="{% static 'img/carrusel/carrusel9.JPG' %}"></a>
    <a class="carousel-item" href="#ten!"><img src="{% static 'img/carrusel/carrusel10.JPG' %}"></a>
  </div>

  <div class="grey darken-4 section no-pad-bot s12 m6 l4" id="">
    <div class="center">
          <label for=""><h5>Destacados de la Semana</h5></label>          
          <iframe class="card2" width="560" height="315" src="https://www.youtube.com/embed/0tUqIHwHDEc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <iframe class="card2" width="560" height="315" src="https://www.youtube.com/embed/RkC0l4iekYo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
  </div>




  <div class="grey darken-4">
    <div class="section container">

      <div class="row">
        <div class="col s12 m6 l4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">public</i></h2>
            <h5 class="center">Noticias</h5>
            
            {% for Noticia in noticiasCards reversed %}
            <div class="card">
              <div class="card-image">
                <img src={{ Noticia.imagen.url }}>
                <span class="card-title sombra">{{Noticia.titulo}}</span>
              </div>
              <div class="card-content">
                <p>{{Noticia.subtitulo}}</p>
              </div>
              <!-- chips  -->
              {% if Noticia.nintendo %}
              <div class="chip red" id="chipSwitch">
                Nintendo Switch
              </div>
              {% endif %}
              {% if Noticia.playstation %}
              <div class="chip blue" id="chipPlaystation">
                Playstation
              </div>
              {% endif %}
              {% if Noticia.pc %}
              <div class="chip orange" id="chipPc">
                PC
              </div>
              {% endif %}
              {% if Noticia.xbox %}
              <div class="chip green" id="chipXbox">
                Xbox
              </div>
              {% endif %}

              <div class="card-action">
                <a href="#">Leer Noticia</a>
              </div>

            </div>
            {% endfor %}
            
          </div>
        </div>

        <div class="col s12 m6 l4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Lanzamientos</h5>

            {% for Lanzamientos in lanzamientosCards reversed %}
            <div class="card">
              <div class="card-image">
                <img src={{ Lanzamientos.imagen.url }}>
                <span class="card-title sombra">{{Lanzamientos.titulo}}</span>
              </div>
              <div class="card-content">
                <p>{{Lanzamientos.subtitulo}}</p>
              </div>
              <!-- chips  -->
              {% if Lanzamientos.nintendo %}
              <div class="chip red" id="chipSwitch">
                Nintendo Switch
              </div>
              {% endif %}
              {% if Lanzamientos.playstation %}
              <div class="chip blue" id="chipPlaystation">
                Playstation
              </div>
              {% endif %}
              {% if Lanzamientos.pc %}
              <div class="chip orange" id="chipPc">
                PC
              </div>
              {% endif %}
              {% if Lanzamientos.xbox %}
              <div class="chip green" id="chipXbox">
                Xbox
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="col s12 m6 l4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">star</i></h2>
            <h5 class="center">Reviews</h5>

            {% for Reviews in reviewsCards reversed %}
            <div class="card">
              <div class="card-image">
                <img src={{ Reviews.imagen.url }}>
                <span class="card-title sombra">{{Reviews.titulo}}</span>
              </div>
              <div class="card-content">
                <p>{{Reviews.subtitulo}}</p>
              </div>
              <!-- chips  -->
              {% if Reviews.nintendo %}
              <div class="chip red" id="chipSwitch">
                Nintendo Switch
              </div>
              {% endif %}
              {% if Reviews.playstation %}
              <div class="chip blue" id="chipPlaystation">
                Playstation
              </div>
              {% endif %}
              {% if Reviews.pc %}
              <div class="chip orange" id="chipPc">
                PC
              </div>
              {% endif %}
              {% if Reviews.xbox %}
              <div class="chip green" id="chipXbox">
                Xbox
              </div>
              {% endif %}
              <div class="card-action">
                <a href="#">Leer Review</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>
  <div class="grey darken-4 section no-pad-bot" id="">
    <div class="container center">
      <br><br>
      <h4 class="header center blue-text">Registrate a Mundo Gamers!</h4>
        <br><br>
          <a href="{% url 'registrarse' %}" id="registrarse" class="hide-on-small-only btn-large waves-effect waves-light light-blue">Subscribirse</a>
        </div>
        <br><br>

      </div>
    </div>

  <footer class="grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <p class="grey-text text-lighten-4">© 2020 Grupo Joaquin Araya / Vicente González</p>
          <p class="grey-text text-lighten-4">Todos los derechos reservados</p>
          <img src="{% static 'img/logo principal.png' %}" alt="Logo" height="80" width="80">
          <li><a href="{% url 'logout' %}">Cerrar sesion</a></li>
          



        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="#!">Terminos de Uso</a></li>
            <li><a class="white-text" href="#!">Privacidad</a></li>
            <li><a class="white-text" href="#!">Politica de Cookies</a></li>
            <li><a class="white-text" href="#!">FAQ</a></li>
            <li><a class="white-text" href="#!">Contacto</a></li>
            <li><a class="white-text" href="#!">Anunciar</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Síguenos en nuestras Redes Sociales:</h5>
          <ul>
            <div> <a href="https://www.instagram.com/" target="_blank"> <b class="active" href="icono"><img src="{% static 'img/ig.png' %}" alt="Logo" height="30" width="30"></b> </a> </div>
            <div> <a href="https://www.facebook.com/" target="_blank"> <b class="active" href="icono"><img src="{% static 'Img/fb.png' %}" alt="Logo" height="30" width="30"></b> </a> </div>
            <div> <a href="https://www.twitter.com/" target="_blank"> <b class="active" href="icono"><img src="{% static 'Img/logo twitter.png' %}" alt="Logo" height="30" width="30"></b> </a> </div>
          </ul>
        </div>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
