<!DOCTYPE html>
<html lang="en">
<head>

  {% load static %}

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link rel="icon" href="{% static 'img/logo principal.png' %}">
  <title>Mundo Gamer {{ user.username }} - Noticias, Reviews y todo lo que buscas de tus juegos favoritos!</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  
  
</head>
<body class="grey darken-4">
  <nav class="blue-grey darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{% url 'index' %}" class="brand-logo"><img src="{% static 'img/logo nuevo.png' %}" alt="Logo" height="50" width="150"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'ps5' %}">PS5</a></li>
        <li><a href="{% url 'xbox' %}">XBOX</a></li>
        <li><a href="{% url 'switch' %}">SWITCH</a></li>
        <li><a href="{% url 'pc' %}">PC</a></li>
        <li><a href="{% url 'retro' %}">RETRO</a></li>
        <li><a href="{% url 'registrarse' %}">REGISTRARSE</a></li>
        <li><a href="{% url 'login' %}">ENTRAR</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="{% url 'ps5' %}">PS5</a></li>
        <li><a href="{% url 'xbox' %}">XBOX</a></li>
        <li><a href="{% url 'switch' %}">SWITCH</a></li>
        <li><a href="{% url 'pc' %}">PC</a></li>
        <li><a href="{% url 'retro' %}">RETRO</a></li>
        <li><a href="{% url 'registrarse' %}">REGISTRARSE</a></li> 
        <li><a href="{% url 'login' %}">ENTRAR</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>


        <div class="center">
          <label for=""><h5>Hazta la Proxima Player One!</h5></label>          
            <a id="container" href="{% url 'index' %}" ><img  src="{% static 'img/logo principal.png' %}" alt="Logo" height="315" width="550"></a>
        </div>


  <footer class="grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <p class="grey-text text-lighten-4">© 2020 Grupo Joaquin Araya / Vicente González</p>
          <p class="grey-text text-lighten-4">Todos los derechos reservados</p>
          <img src="{% static 'img/logo principal.png' %}" alt="Logo" height="80" width="80">


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="#!">Terminos de Uso</a></li>
            <li><a class="white-text" href="#!">Privacidad</a></li>
            <li><a class="white-text" href="#!">Politica de Cookies</a></li>
            <li><a class="white-text" href="#!">FAQ</a></li>
            <li><a class="white-text" href="#!">Contacto</a></li>
            <li><a class="white-text" href="#!">Anunciar</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Síguenos en nuestras Redes Sociales:</h5>
          <ul>
            <div> <a href="https://www.instagram.com/" target="_blank"> <b class="active" href="icono"><img src="{% static 'img/ig.png' %}" alt="Logo" height="30" width="30"></b> </a> </div>
            <div> <a href="https://www.facebook.com/" target="_blank"> <b class="active" href="icono"><img src="{% static 'Img/fb.png' %}" alt="Logo" height="30" width="30"></b> </a> </div>
            <div> <a href="https://www.twitter.com/" target="_blank"> <b class="active" href="icono"><img src="{% static 'Img/logo twitter.png' %}" alt="Logo" height="30" width="30"></b> </a> </div>
          </ul>
        </div>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>