<!DOCTYPE html>
<html lang="en">
<head>

  {% load static %}

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link rel="icon" href="{% static 'img/logo principal.png' %}">
  <title>Mundo Gamer - Noticias, Reviews y todo lo que buscas de tus juegos favoritos!</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  
  
</head>
<body>
  <nav class="blue-grey lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{% url 'index' %}" class="brand-logo"><img src="{% static 'img/logo nuevo.png' %}" alt="Logo" height="50" width="150"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'ps5' %}">PS5</a></li>
        <li><a href="{% url 'xbox' %}">XBOX</a></li>
        <li><a href="{% url 'switch' %}">SWITCH</a></li>
        <li><a href="{% url 'pc' %}">PC</a></li>
        <li><a href="{% url 'retro' %}">RETRO</a></li>
        <li><a href="{% url 'registrarse' %}">REGISTRARSE</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="{% url 'ps5' %}">PS5</a></li>
        <li><a href="{% url 'xbox' %}">XBOX</a></li>
        <li><a href="{% url 'switch' %}">SWITCH</a></li>
        <li><a href="{% url 'pc' %}">PC</a></li>
        <li><a href="{% url 'retro' %}">RETRO</a></li>
        <li><a href="{% url 'registrarse' %}">REGISTRARSE</a></li> 
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="carousel blue-grey darken-3">
    <h5 class="center white-text">Los Mejores Juegos</h5>
    <a class="carousel-item" href="#one!"><img src="{% static 'img/carrusel/carrusel1.JPG' %}"></a>
    <a class="carousel-item" href="#two!"><img src="{% static 'img/carrusel/carrusel2.JPG' %}"></a>
    <a class="carousel-item" href="#three!"><img src="{% static 'img/carrusel/carrusel3.JPG' %}"></a>
    <a class="carousel-item" href="#four!"><img src="{% static 'img/carrusel/carrusel4.JPG' %}"></a>
    <a class="carousel-item" href="#five!"><img src="{% static 'img/carrusel/carrusel5.JPG' %}"></a>
    <a class="carousel-item" href="#six!"><img src="{% static 'img/carrusel/carrusel6.JPG' %}"></a>
    <a class="carousel-item" href="#seven!"><img src="{% static 'img/carrusel/carrusel7.JPG' %}"></a>
    <a class="carousel-item" href="#eight!"><img src="{% static 'img/carrusel/carrusel8.JPG' %}"></a>
    <a class="carousel-item" href="#nine!"><img src="{% static 'img/carrusel/carrusel9.JPG' %}"></a>
    <a class="carousel-item" href="#ten!"><img src="{% static 'img/carrusel/carrusel10.JPG' %}"></a>
  </div>

  <div class="grey darken-4">
    <div class="section container">

      <div class="row">
        <div class="col s12 m6 l4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">public</i></h2>
            <h5 class="center">Noticias</h5>
            
            <div class="card">
              <div class="card-image">
                <img src="{% static 'img/rtx3080.jpg' %}">
                <span class="card-title sombra">Versiones confirmadas de NVIDIA serie 3000</span>
              </div>
              <div class="card-content">
                <p>Hay mucho revuelo con ciertas características de las RTX 3000 de NVIDIA. 
                  Si nos seguís a diario sabréis que hemos estado hablando de distintas versiones 
                  de PCB para una misma tarjeta, algo que a muchos no les termina de quedar claro, 
                  sobre todo a aquellos que quieren pasar por agua su flamante nueva GPU. 
                  ¿Cuántas versiones habrá al final y en qué se diferencian estos PCB para RTX 3000?</p>
              </div>
              <div class="card-action">
                <a href="#">Leer Noticia</a>
              </div>
            </div>

            <div class="card">
              <div class="card-image">
                <img src="{% static 'img/cyberpunk.PNG' %}">
                <span class="card-title sombra">Cyberpunk 2077 revela los requisitos mínimos y recomendados para PC</span>
              </div>
              <div class="card-content">
                <p>Aprovechando el último Night City Wire, CD Projekt Red ha revelado las especificaciones 
                  para la versión de compatibles.</p>
              </div>
              <div class="card-action">
                <a href="#">Leer Noticia</a>
              </div>
            </div>
            
          </div>
        </div>

        <div class="col s12 m6 l4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Lanzamientos</h5>

            <div class="card">
              <div class="card-image">
                <img src="{% static 'img/Tony Hawks.jpg' %}">
                <span class="card-title sombra">Tony Hawk's Pro Skater 1 + 2</span>
              </div>
              <div class="card-content">
                <p>Lanzamiento en PS4: 4/9/2020 
                  Lanzamiento en Xbox One: 4/9/2020 
                  Lanzamiento en PC: 4/9/2020</p>
              </div>
            </div>

            <div class="card">
              <div class="card-image">
                <img src="{% static 'img/Super Mario 3D all Stars.jpg' %}">
                <span class="card-title sombra">Super Mario 3D All-Stars</span>
              </div>
              <div class="card-content">
                <p>Lanzamiento en Switch: 18/8/2020</p>
              </div>
            </div>
            
          </div>
        </div>

        <div class="col s12 m6 l4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">star</i></h2>
            <h5 class="center">Reviews</h5>

            <div class="card small">
              <div class="card-image">
                <img src="{% static 'img/Tony Hawks.jpg' %}">
                <span class="card-title sombra">Tony Hawk's Pro Skater 1 + 2</span>
              </div>
              <div class="card-content">
                <p>89% Metacritic
                  86% PC Gamer
                  9/10 IGN.</p>
              </div>
              <div class="card-action">
                <a href="#">Leer Review</a>
              </div>
            </div>

            <div class="card small">
              <div class="card-image">
                <img src="{% static 'img/mfs2020.jpg' %}">
                <span class="card-title sombra">Microsoft Flight Simulator 2020</span>
              </div>
              <div class="card-content">
                <p>92% Metacritic
                  7/10 Steam
                  89% PC Gamer</p>
              </div>
              <div class="card-action">
                <a href="#">Leer Review</a>
              </div>
            </div>

            
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>
  <footer class="grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <p class="grey-text text-lighten-4">© 2020 Grupo Joaquin Araya / Vicente González</p>
          <p class="grey-text text-lighten-4">Todos los derechos reservados</p>
          <img src="img/logo principal.png" alt="Logo" height="80" width="80">


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="#!">Terminos de Uso</a></li>
            <li><a class="white-text" href="#!">Privacidad</a></li>
            <li><a class="white-text" href="#!">Politica de Cookies</a></li>
            <li><a class="white-text" href="#!">FAQ</a></li>
            <li><a class="white-text" href="#!">Contacto</a></li>
            <li><a class="white-text" href="#!">Anunciar</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Síguenos en nuestras Redes Sociales:</h5>
          <ul>
            <div> <a href="https://www.instagram.com/" target="_blank"> <b class="active" href="icono"><img src="{% static 'img/ig.png' %}" alt="Logo" height="30" width="30"></b> </a> </div>
            <div> <a href="https://www.facebook.com/" target="_blank"> <b class="active" href="icono"><img src="{% static 'Img/fb.png' %}" alt="Logo" height="30" width="30"></b> </a> </div>
            <div> <a href="https://www.twitter.com/" target="_blank"> <b class="active" href="icono"><img src="{% static 'Img/logo twitter.png' %}" alt="Logo" height="30" width="30"></b> </a> </div>
          </ul>
        </div>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
