<!DOCTYPE html>
<html lang="en">
<head>

  {% load static %}

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link rel="icon" href="{% static 'img/logo principal.png' %}">
  <title>Mundo Gamer - Noticias, Reviews y todo lo que buscas de tus juegos favoritos!</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  
  
</head>
<body>
  <nav class="blue-grey darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{% url 'index' %}" class="brand-logo"><img src="{% static 'img/logo nuevo.png' %}" alt="Logo" height="50" width="150"></a>
      <ul class="right hide-on-med-and-down">
        <li><a herf='#'>PS5</a></li>
        <li><a herf='#'>XBOX</a></li>
        <li><a herf='#'>SWITCH</a></li>
        <li><a herf='#'>PC</a></li>
        <li><a herf='#'>RETRO</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a herf='#'>PS5</a></li>
        <li><a herf='#'>XBOX</a></li>
        <li><a herf='#'>SWITCH</a></li>
        <li><a herf='#'>PC</a></li>
        <li><a herf='#'>RETRO</a></li>
          
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="grey darken-4 section no-pad-bot" id="">
    <div class="container">
      <br><br>
      <h4 class="header center blue-text">Registrate a Mundo Gamers!</h4>
      <div class="row">
        <div class="col s12 m4 grey darken-4">
          <input class="formulario validate" id="email" type="text" name="" placeholder="Correo">
          <input class="formulario validate" id="name" type="text" name="" placeholder="Nombre">
          <input class="formulario validate" id="password" type="password" placeholder="Ingresa tu contraseña">
          <label id="lblPasswordConfirm" for="passwordConfirm" data-error="Contraseña no coincide" data-success="Contraseña coincide">Password</label>
          <input class="formulario" id="passwordConfirm" type="password" placeholder="Ingresa nuevamente tu contraseña">
          <br><br>
          <label for="fecnac">Fecha de Nacimiento</label >
          <input class="formulario validate" type="date" name="fecnac" placeholder="">
          <a href="#" id="registrarse" class="hide-on-small-only btn-large waves-effect waves-light light-blue">Subscribirse</a>
        </div>
        <div class="col s12 m2 l2 grey darken-4">
          <label for="">Selecciona tus intereses</label>
          <br><br>
          <label>
            <input  id="cboxps" type="checkbox" onclick="checkboxCheck()"/>
            <span>Playstation</span>
          </label>
          <br><br>
          <label>
            <input id="cboxxbox" type="checkbox" onclick="checkboxCheck()"/>
            <span>Xbox</span>
          </label>
          <br><br>
          <label>
            <input id="cboxnin" type="checkbox" onclick="checkboxCheck()"/>
            <span>Nintendo</span>
          </label>
          <br><br>
          <label>
            <input id="cboxpc" type="checkbox" onclick="checkboxCheck()"/>
            <span>PC</span>
          </label>
          <br><br>
          <label>
            <input id="cboxold" type="checkbox" onclick="checkboxCheck()"/>
            <span>Retro</span>
          </label>
          
          <br><br>
          <label class="invalid" id="checkboxLabel" style="display:block">Debes seleccionar al menos un interés</label>
          <br><br>
          <a href="#" id="registrarse" class="hide-on-med-and-up btn-large waves-effect waves-light light-blue">Subscribirse</a>
          
        </div>
        <div class="col s12 m4 grey darken-4">
          <label for=""><h5>Destacados de la Semana</h5></label>
          <iframe class="card2" width="460" height="250" src="https://www.youtube.com/embed/F-tZPBpcock" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      <br><br>
      </div>
    </div>

  <footer class="grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <p class="grey-text text-lighten-4">© 2020 Grupo Joaquin Araya / Vicente González</p>
          <p class="grey-text text-lighten-4">Todos los derechos reservados</p>
          <img src="img/logo principal.png" alt="Logo" height="80" width="80">


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="#!">Terminos de Uso</a></li>
            <li><a class="white-text" href="#!">Privacidad</a></li>
            <li><a class="white-text" href="#!">Politica de Cookies</a></li>
            <li><a class="white-text" href="#!">FAQ</a></li>
            <li><a class="white-text" href="#!">Contacto</a></li>
            <li><a class="white-text" href="#!">Anunciar</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Síguenos en nuestras Redes Sociales:</h5>
          <ul>
            <div> <a href="https://www.instagram.com/" target="_blank"> <b class="active" href="icono"><img src="{% static 'img/ig.png' %}" alt="Logo" height="30" width="30"></b> </a> </div>
            <div> <a href="https://www.facebook.com/" target="_blank"> <b class="active" href="icono"><img src="{% static 'Img/fb.png' %}" alt="Logo" height="30" width="30"></b> </a> </div>
            <div> <a href="https://www.twitter.com/" target="_blank"> <b class="active" href="icono"><img src="{% static 'Img/logo twitter.png' %}" alt="Logo" height="30" width="30"></b> </a> </div>
          </ul>
        </div>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
